In [ ]:
# you need my sql 
#creation of database mov_selc

import mysql.connector

mydb = mysql.connector.connect(
host="localhost",
user="root",
password="Harsh@130")#write your password of mysql

print(mydb)
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE mov_selc")

In [11]:
# all database in mysystem of mysql

mycursor.execute("SHOW DATABASES")
for db in mycursor:
    print(db[0])

information_schema
mov_selc
mysql
performance_schema
sakila
sys
test_student_k19ts
world

In [7]:
#creation of table in database mov_selc 

import mysql.connector
mydb = mysql.connector.connect(
host="localhost",
user="root",
password="Harsh@130",#write your password of mysql
database="mov_selc")
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE moviesz (scholar_no VARCHAR(255), Name VARCHAR(300),Release_year INT(10),Genre VARCHAR(255),Avg_rating INT(5),Adult VARCHAR(255),Watch VARCHAR(255))")

In [9]:
#inserting some movies to searc in table moviesz

import mysql.connector
mydb = mysql.connector.connect(
host="localhost",
user="root",
password="Harsh@130",#write your password of mysql
database="mov_selc")
mycursor=mydb.cursor()
sql = "INSERT INTO moviesz (scholar_no,Name,Release_year,Genre,Avg_rating,Adult) VALUES (%s,%s,%s,%s,%s,%s)"
val = [('1','Saw','2004','Horror','3','No'),('2','The Orphange','2007','Horror','3.5','No'),('3','Return of the living dead','1985','Horror','4','No'),('4','Get out','2017','Horror','4','No'),('5','The witch','2015','Horror','3.5','No'),('1','Shape of water','2017','Romantic','4','Yes'),('2','Titanic','1998','Romantic','4','Yes'),('3','Call me by your name','2017','Romantic','3.5','Yes'),('4','Love & Basket ball','2000','Romantic','3','Yes'),('5','Crazy Rich Asians','2018','Romantic','4.5','No'),('1','The Big Sick','2017','Comedy','3.5','Yes'),('2','Books mark','2019','Comedy','3.5','No'),('3','Girls Trip','2017','Comedy','3','No'),('4','Knives Out','2019','Comedy','3.5','No'),('5','Juno','2007','Comedy','4','Yes'),('1','Avator','2009','Action','3.5','Yes'),('2','Drug war','2012','Action','3.5','Yes'),('3','Lucy','2014','Action','4','No'),('4','Blachat','2015','Action','4.5','Yes'),('5','The Guest','2014','Action','3','Yes'),]
mycursor.executemany(sql,val)
mydb.commit()
print(mycursor.rowcount,"records were inserted.")

20 records were inserted.

In [4]:
#printing all movies in table moviesz

import mysql.connector
mydb = mysql.connector.connect(
host="localhost",
user="root",
password="Harsh@130",#write your password of mysql
database="mov_selc")
mycursor=mydb.cursor()
mycursor.execute("SELECT * FROM moviesz")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('1', 'Saw', 2004, 'Horror', 3, 'No', None)
('2', 'The Orphange', 2007, 'Horror', 4, 'No', None)
('3', 'Return of the living dead', 1985, 'Horror', 4, 'No', None)
('4', 'Get out', 2017, 'Horror', 4, 'No', None)
('5', 'The witch', 2015, 'Horror', 4, 'No', None)
('1', 'Shape of water', 2017, 'Romantic', 4, 'Yes', None)
('2', 'Titanic', 1998, 'Romantic', 4, 'Yes', None)
('3', 'Call me by your name', 2017, 'Romantic', 4, 'Yes', None)
('4', 'Love & Basket ball', 2000, 'Romantic', 3, 'Yes', None)
('5', 'Crazy Rich Asians', 2018, 'Romantic', 5, 'No', None)
('1', 'The Big Sick', 2017, 'Comedy', 4, 'Yes', None)
('2', 'Books mark', 2019, 'Comedy', 4, 'No', None)
('3', 'Girls Trip', 2017, 'Comedy', 3, 'No', None)
('4', 'Knives Out', 2019, 'Comedy', 4, 'No', None)
('5', 'Juno', 2007, 'Comedy', 4, 'Yes', None)
('1', 'Avator', 2009, 'Action', 4, 'Yes', None)
('2', 'Drug war', 2012, 'Action', 4, 'Yes', None)
('3', 'Lucy', 2014, 'Action', 4, 'No', None)
('4', 'Blachat', 2015, 'Action', 5, 'Yes', None)
('5', 'The Guest', 2014, 'Action', 3, 'Yes', None)